@import "./base/bootstrap.scss";
@import "./base/bootstrap-extended.scss";
@import "./base/colors.scss";
@import "./base/components.scss";

// Themes
@import "./base/themes/dark-layout.scss";
@import "./base/themes/bordered-layout.scss";
@import "./base/themes/semi-dark-layout.scss";
// @import './base/custom-rtl.scss';

// React Specific
@import "react/index";

// ** Trading Platform custom css
.stacked-card-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stacked-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-right: -50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.stacked-card:last-child {
    margin-right: 0;
}

.stacked-card button {
    display: block;
    margin-top: 8px;
}

.active-card {
    border-top: #0f0 solid 5px;
    z-index: 99;
}

// .rdt_TableCell {
//     position: sticky !important;
//     left: 0; /* Adjust the 'left' value to control the stickiness */
//     z-index: 1; /* Set the z-index to ensure the sticky column appears above the other content */
// }

// .rdt_TableCol {
//     position: sticky !important;
//     left: 0; /* Adjust the 'left' value to control the stickiness */
//     z-index: 1; /* Set the z-index to ensure the sticky column appears above the other content */
// }
